<h1>Listing polaroids</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Artist</th>
    <th>Description</th>
    <th>Price</th>
    <th>Picture</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @polaroids.each do |polaroid| %>
  <tr>
    <td><%= polaroid.name %></td>
    <td><%= polaroid.artist %></td>
    <td><%= polaroid.description %></td>
    <td><%= polaroid.price %></td>
    <td><%= polaroid.picture %></td>
    <td><%= link_to 'Show', polaroid %></td>
    <td><%= link_to 'Edit', edit_polaroid_path(polaroid) %></td>
    <td><%= link_to 'Destroy', polaroid, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Polaroid', new_polaroid_path %>
